.contenedor {
  background-color: #efeff1;
}
.carrusel {
  width: 100%;
  background-color: #c0c2c7;
  display: flex;
  justify-content: center;
}
.carrusel img {
  height: 500px;
}
.contenedor-articulos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px 6px;
  place-items: center;
  background-color: #fff;
  border-radius: 40px;
}